extends layout
block content
  nav.navbar.navbar-expand-lg.bg-light(data-bs-theme='light')
          .container-fluid.px-5.py-3
            a.navbar-brand(href='/tasks').fs-3 #{pageHeader.title}
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor03', aria-controls='navbarColor03', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarColor03.collapse.navbar-collapse
              ul.navbar-nav.me-auto
              form(action='/')
                button.btn.btn-danger(type='submit')
                  | Log Out
  br
  .container.d-flex.justify-content-center.align-items-center
    .card.border-primary.col-12.col-md-10
      .card-header
        h3 #{pageHeader.tasksTitle}
      .card-body
        .table-container(style='height:60vh; overflow-y: auto; width:100%; border-radius:.375rem')
          table.table.table-hover
            thead
              tr
                th Name
                th Category
                th Priority
                th Due Date
            tbody
              each task in tasks
                //-Adding task ID to each row in the table
                tr.task(data-id=task._id.toString())  
                  td #{task.name}
                  td #{task.category}
                  td #{task.priority}
                  td #{task.dueDate}
  
  //-Adding click listener to each row, which calls the delte function in the api controller
  script.
    const taskRows = document.querySelectorAll('.task');

    taskRows.forEach(row => {
      row.addEventListener('click', function () {
        const taskId = this.dataset.id;
        showConfirmationAlert('Are you sure you want to remove this task?', function () {     // display javascript confirmation message with bootswatch popup
          fetch('/api/tasks/' + taskId, { method: 'delete' })     // Call delete function in tasks api
            .then(response => {
              if (response.ok || response.status === 204) {
                window.location.reload(); // Reload the page 
              } else {
                throw new Error('Deletion failed');
              }
            })
            .catch(err => {
              console.error('Error:', err);
              alert('Error deleting task. Check console for more information.');
            });
        });
      });
    });


    
    





